<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="../public/stylesheets/icon/scooter.png">

    <title>ระบบจัดการวินมอเตอร์ไซค์</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../public/stylesheets/vendor/jquery/jquery.js"></script>
    <script src="../public/stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
    </script>
    <script>
        $(document).ready(function () {
            console.log('person id --->',$('#person_id').val())
        });
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/home">ระบบจัดการวินมอเตอร์ไซค์</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3">
                        <a type="button" class="btn btn-outline-light text-light">ชื่อผู้ใช้ : <%=displayName%></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <!-- mt stands for Margin-top -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ลบข้อมูลสมาชิก</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    คุณแน่ใจที่จะลบไหม?
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-danger ml-3">ลบ</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <!-- <button type="button" class="btn btn-primary">ใช่</button> -->

                </div>
            </div>
        </div>
    </div>
    <div class="container" style="width: 100% !important; height: 150% !important;">
        <div class="card bg-light mt-3" style="margin-bottom: 100px;">
            <div class="card-header">
                <div class="row ml-2">
                    <h3>แก้ไขข้อมูลสมาชิก</h3>
                    <!-- <a href="#" class="btn btn-danger ml-3">ลบ</a> -->
                    <button type="button" class="btn btn-danger ml-3" data-toggle="modal" data-target="#exampleModal">
                        ลบข้อมูลสมาชิกนี้
                    </button>
                </div>

            </div>
            <div class="card-body">
                <form action="/editMemberForm" method="post">
                    <h5>ชื่อ-นามสกุล</h5>
                    <input type="hidden" id="custId" name="groupId" value="<%=memberInfo.groupId%>">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="ชื่อ" name="memberName"
                                placeholder="First name" required="required" value="<%=memberInfo.personName%>">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="นามสกุล" name="memberLastName"
                                placeholder="Last name" required="required" value="<%=memberInfo.personLastName%>">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>เพศ</h5>
                            <select id="gender" name="gender" style="width: 100%;">
                                <% if (memberInfo.gender === 'male') { %>
                                <option value="male" selected>ชาย</option>
                                <option value="female">หญิง</option>
                                <%} else { %>
                                <option value="male">ชาย</option>
                                <option value="female" selected>หญิง</option>
                                <% } %>
                            </select>
                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">หมายเลขบัตรประจำตัวประชาชน</label>
                        <input class="form-control" placeholder="หมายเลขบัตรประจำตัวประชาชน"
                            id="person_id" name="memberThaiId" required="required"
                            value="<%=memberInfo.personId%>"></input>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">เบอร์โทรศัพท์</label>
                        <input class="form-control" placeholder="เบอร์โทรศัพท์" name="memberMobileNumber"
                            required="required" value="<%=memberInfo.mobileNumber%>"></input>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">เบอร์เสื้อ</label>
                        <input class="form-control" placeholder="เบอร์เสื้อ" name="memberShirtNumber"
                            required="required" value="<%=memberInfo.shirtNumber%>"></input>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <label>ยี่ห้อรถจักรยานยนต์</label>
                            <input class="form-control" placeholder="ยี่ห้อรถจักรยานยนต์" name="motorcycleBrand"
                                required="required" value="<%=memberInfo.motorcycleBrand%>"></input>
                        </div>
                        <div class="col-sm-6">
                            <label>สีรถจักรยานยนต์</label>
                            <input class="form-control" placeholder="สีรถจักรยานยนต์" name="motorcycleColor"
                                required="required" value="<%=memberInfo.motorcycleColor%>"></input>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">เลขเครื่อง</label>
                        <input class="form-control" placeholder="เลขเครื่อง" name="memberMotorcycleSerial"
                            required="required" value="<%=memberInfo.motorcycleSerial%>"></input>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">ป้ายทะเบียน</label>
                        <input class="form-control" placeholder="ป้ายทะเบียน" name="memberLicenseNumber"
                            required="required" value="<%=memberInfo.licensePlate%>"></input>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">ประเภทใบขับขี่</label>
                        <input class="form-control" placeholder="ประเภทใบขับขี่" name="memberLicenseType"
                            required="required" value="<%=memberInfo.licenseType%>"></input>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-success mx-auto mt-2 w-100">บันทึก</button>
                </form>
                <br>
                <div class="card bg-warning text-dark">
                    <div class="card-header">
                        <h3>อัพโหลด เอกสาร</h3>
                    </div>
                    <div class="card-body">
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="personId" value="<%=memberInfo.personId%>">
                            <input type="file" name="file" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                            <input type="submit" value="Upload">
                        </form>
                    </div>
                </div>
                <br>
                <% if (memberInfo.docs) { %>
                <div class="card bg-warning text-dark">
                    <div class="card-header">
                        <h3>ดาวน์โหลด เอกสาร</h3>
                    </div>
                    <div class="card-body">
                        <form action="/pre_download" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="personId" value="<%=memberInfo.personId%>">
                            <input type="submit" value="Download">
                        </form>
                    </div>
                </div>
                <% } %>
            </div>
        </div>


    </div>

</body>

</html>