<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <link rel="icon" href="../public/stylesheets/icon/scooter.png">

    <title>ระบบจัดการวินมอเตอร์ไซค์</title>

    <!-- Bootstrap core CSS -->
    <link href="../public/stylesheets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="../public/stylesheets/vendor/jquery/jquery.js"></script>
    <script src="../public/stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
    </script>
    <script>
        // function searchGroup() {
        //     console.log('search...')
        //     const keyword = $('#groupSearch').val();
        //     if (keyword) {
        //         let tmp = $.ajax({
        //             type: "POST",
        //             url: '/searchGroup',
        //             data: JSON.stringify({
        //                 groupKeyword: keyword
        //             }),
        //             contentType: "application/json; charset=utf-8",
        //             dataType: "json",
        //             success: function (data) {
        //                 console.log(data);
        //                 return data;
        //             }
        //         });
        //     }
        // }
        $(document).ready(function () {
            // console.log("ready!");
            // var timer = null;
            // $("#groupSearch").keyup(function () {
            //     $('#dd1').dropdown('toggle')
            //     if (timer === null) {
            //         timer = setTimeout(searchGroup, 1000);
            //     } else {
            //         clearTimeout(timer)
            //         timer = setTimeout(searchGroup, 1000);
            //     }
            //     // console.log($('#groupSearch').val());
            // });
        });
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <div class="container">
            <a class="navbar-brand" href="/home">ระบบจัดการวินมอเตอร์ไซค์</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mr-3">
                        <a type="button" class="btn btn-outline-light text-light">ชื่อผู้ใช้ : <%=displayName%></a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" href="/home">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/logout">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <!-- mt stands for Margin-top -->
    <div class="container" style="width: 100% !important; height: 80%;">
        <div class="card mt-3">
            <div class="card-header">
                <h3>ผลลัพธ์การค้นหา : "<%= keyword %>"</h3>
            </div>
        </div>
        <div class="card bg-light mt-3">
            
            <table class="table mx-auto" style="width: 100%;">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">ชื่อ</th>
                    <th scope="col">นามสกุล</th>
                    <th scope="col">เพศ</th>
                    <th scope="col">รายละเอียด</th>
                  </tr>
                </thead>
                <tbody>
                    <% person.forEach((item) => {%>
                        <tr>
                            <td><%= item.personName%></td>
                            <td><%= item.personLastName%></td>
                            <% if(item.gender === "male"){%>
                                <td>ชาย</td>
                            <% }else{%>
                                <td>หญิง</td>
                            <% }%>
                            
                            <td><a class="btn btn-primary" href="/memberEdit?memberId=<%= item.personId%>" role="button">รายละเอียด</a></td>
                        </tr>
                    <% })%>
                </tbody>
              </table>
            <% if(person.length < 1){%>
                <div class="card-footer w-100">
                    <div class="mx-auto">
                        <h3 class="mx-auto">ไม่พบผลลัพธ์</h3>
                    </div>
                    
                </div>
            <% }%>
        </div>


    </div>

</body>

</html>